setupVersion: 1
symbolPreset: nerd
theme:
  dark: dark-gruvbox
  light: light-ocean
statusLine:
  separator: slash
  preset: default
  sessionAccent: true
  transparent: true
tui:
  tight: false
disabledExtensions:
  - context-file:user:AGENTS.md
secrets:
  enabled: true
memory:
  backend: mnemopi
providers:
  memoryModel: online
power:
  sleepPrevention: system
defaultThinkingLevel: auto
display:
  showTokenUsage: true
  shimmer: classic
  hideToolActivity: false
dev:
  autoqaConsent: denied
{{- if eq .chezmoi.hostname .workHostname }}
modelRoles:
  smol: spoton/kimi-k2-5
  slow: spoton/claude-opus-5
  advisor: spoton/claude-opus-5:low
  plan: spoton/claude-opus-5:medium
  default: spoton/claude-sonnet-5
  tiny: spoton/nova-lite
  task: spoton/claude-sonnet-5:low
disabledProviders:
  - amazon-bedrock
{{- else }}
modelRoles:
  default: opencode-zen/deepseek-v4-pro
disabledProviders:
  - opencode
{{- end }}
