setupVersion: 2
symbolPreset: nerd
theme:
  dark: dark-gruvbox
  light: light-ocean
statusLine:
  separator: slash
  preset: default
  sessionAccent: true
  transparent: true
  compactThinkingLevel: false
  showHookStatus: true
tui:
  tight: false
disabledExtensions:
  - context-file:user:AGENTS.md
  - skill:oh-my-opencode-slim
  - skill:librarian-tool-routing
secrets:
  enabled: true
memory:
  backend: mnemopi
providers:
  memoryModel: online
  webSearchOrder:
    - exa
    - google
    - duckduckgo
    - mojeek
    - searxng
power:
  sleepPrevention: system
defaultThinkingLevel: auto
display:
  showTokenUsage: true
  shimmer: classic
  hideToolActivity: false
dev:
  autoqaConsent: denied
  autoqa: false
github:
  enabled: true
advisor:
  enabled: false
steeringMode: one-at-a-time
edit:
  mode: hashline
lsp:
  enabled: true
  lazy: true
  diagnosticsOnWrite: true
  diagnosticsOnEdit: true
  formatOnWrite: false
speechgen:
  enabled: true
astGrep:
  enabled: true
tools:
  xdev: true
searxng:
  endpoint: https://searxng-api.electricgarage.net
  basicUsername: omp-agent
  basicPassword: "{{ (bitwardenSecrets "f470efe9-b670-47f7-955d-b4a1015a6777" .accessToken).value }}"
cycleOrder:
  - local
  - smol
  - default
  - slow
vault:
  enabled: true
followUpMode: all
interruptMode: immediate
doubleEscapeAction: tree
treeFilterMode: default
stt:
  enabled: true
compaction:
  handoffSaveToDisk: true
ttsr:
  contextMode: discard
computer:
  enabled: false
isolation:
  backend: auto
ask:
  enabled: true
browser:
  screenshotDir: ~/Desktop/screenshots
composer:
  shape: box
