{
  "$schema": "https://raw.githubusercontent.com/can1357/oh-my-pi/main/packages/coding-agent/src/config/mcp-schema.json",
  "mcpServers": {
{{ template "omp/mcp-servers-work.json.tmpl" . }}{{ template "omp/mcp-servers-common.json.tmpl" . }}
  }
}
